numpy
pandas
scipy
torch
matplotlib
scikit-learn
chromadb
faiss-cpu
beautifulsoup4
plotly
transformers
sentence-transformers
google-generativeai
gradio
modal
feedparser
twilio
pydub
datasets
pinecone
